html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font: normal .78em sans-serif;
    background: black;
    text-align: center;
}


#main, #header, #info, #menubar {
    margin-left: auto;
    margin-right: auto;
}

#main {
    /* width: 910px; */
    height: 150px;
    background:cornflowerblue repeat-x;
}

#header {
    width: 1000px;
    text-align: left;
}

#info {
    width: 890px;
    height: 200px;
}

#info_text {
    position: absolute;
    top: 10px;
    left: 30px;
} /*this is the position of the title */

#info h1, #info h2 {
    font: normal 240% sans-serif;
    letter-spacing: 0em;
    text-transform: none;
    margin:10px;
} /*also main title settings*/

#info_text h1, #info_text h1 a, #info_text h1 a:hover {
    padding: 10px 0 0px 0;
    color: white;
    letter-spacing: 0em;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
    text-align: left;
    text-transform: uppercase;
}


#info_text h2 {
    font-size: 150%;
    margin:20px 20px 0px 20px; 
    padding: 0 20px 0px 0px;
    text-shadow: 1px 1px 2px black;
    color:orange;
} /* the subtitle*/


#menubar {
    width: 1100px;
    height: 35px;
    padding: 0px 0 0 0;
    margin: -55px 0 -50px 0;
    position: relative;
    z-index: 1;
    float: right;
    border-bottom: 1px solid #fff;
}

ul#menu {
    margin: 0 0 0 0;
}

ul#menu li {
    float: left;
    margin: 5px 0 0 0;
    padding: 0 0 0 10px;
    list-style: none;
}

ul#menu li a {
    letter-spacing: 0.1em;
    font: normal 105% sans-serif;
    text-transform: uppercase;
    display: block;
    height: 20px;
    text-decoration: none;
    padding: 7px 22px 5px 16px;
    text-align: center;
    color: white;
    border: 0;
}

ul#menu li.selected {
    height: 20px;
    color: #111;
    padding: 0px 5px 10px 16px;
}

ul#menu li.selected {
    margin: 7px 0 0 0;
    background:gray;
}

ul#menu li a:hover {
    color: cornflowerblue;
}

ul#menu_trend li {
    float: center;
    margin: 5px 0 0 0px;
    padding: 0 0 0 0px;
    list-style: none;
}

ul#menu_trend li a {
    letter-spacing: 0.1em;
    font: normal 90% sans-serif;
    text-transform: uppercase;
    /* display: block; */
    height: 20px;
    text-decoration: none;
    padding: 10px 0px 5px 16px;
    text-align: center;
    color: white;
    border: 0;
}


ul#menu_trend li.selected a {
    margin: 0px 0 0 0;
    text-decoration: underline;
}

ul#menu_trend li a:hover {
    color: cornflowerblue;
}

.sidebar p {
    float: right;
    width: 250px;
    padding: 150px 240px 0px 0px;
    /* colu: white; */
}

.div1, .div2 {
    display: inline-block;
    padding: 0 0 30px 0;
}

.form-dropdown1 {
    margin: 0px 0 0 400px;
}

.form-dropdown2 {
    margin: 20px 0px 0 400px;
}

.form-dropdown3 {
    margin: 20px 0px 0 450px;
}

.row2 {
    float: left;
    margin: 30px 0 0px 0;
    padding: 30px 0 0 0;
}

.content h1 {
    text-align: center;
    color: orange;
    margin: 30px 0 30px 0px;
    font-size: 150%;
    font: sans-serif;
    text-emphasis: none;
}

.content p {
    margin: 0 0 10px 0;
    line-height: 1.3em;
    color: white;
    font-size: 120%;
}

.content:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 15px;
    border-bottom: 1px solid white;
}

#footer {
    width: auto;
    height: 33px;
    padding: 18px 0 4px 0;
    text-align: center;
    background: #555;
    color: #aaa;
    border-top: 1px solid #fff;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 90%;
}

#footer a {
    color: #fff;
    text-transform: none;
}

footer a:hover {
    color: #aaa;
    text-decoration: none;
}


#center_image {
    width: 1266px;
    overflow: hidden;
    background: black;
    padding: 20px 0 20px 0;
}

#center_image h1 {
    color: white;
    float: center;
    font-size: 100%;
} 